<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Demystifying Email Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body style="margin: 0; padding: 0;">
    <table align="center" border="1" cellpadding="0" cellspacing="0" width="600">
        <tr>
            <td align="center" bgcolor="#dbd7ca" style="padding: 40px 0 30px 0;">
                <img src="" width="300" height="230" style="display: block;" />
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">
                Encomenda com ID : ZACAID
                8as7d8as-as87d7a8sd7-a8sd7a8sd7a8sd
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">
                Utilizador : ZACAUtilizador
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">
                Localidade : ZACALocalidade
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">
                Metodo de Pagamento : Transferencia Bancária
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">
                NIB : 515
            </td>
        </tr>


        <tr>
            <td bgcolor="#ffffff">
                TOTAL : ZACATotal
            </td>
        </tr>


        <tr>
            <td bgcolor="#ffffff">
                <table align="center" border="1" cellpadding="0" cellspacing="0" width="600">
                    <thead>
                        <tr>
                            <th> Artigo  </th>
                            <th> Preço  </th>
                            <th> Descricao  </th>
                        </tr>
                    </thead>
                    ZACALinhas

                </table>
            </td>
        </tr>



    </table>

    Obrigado por prefereires a SCALLOPSHELL! :)

</body>
</html>