@{
    ViewData["Title"] = "Home Page";
}

@model ScallopShellProject.Models.IndexViewModel
<div class="cart-table-area section-padding-100">
    <div class="container-fluid">

        <div class="products-catagories-area clearfix">
            <div class="amado-pro-catagory clearfix">


                @foreach (var item in Model.Articles)
                {

                 

                <div class="single-products-catagory clearfix">

                    @{
                        var base64 = Convert.ToBase64String(item.ImageList[0].ImageByte);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                    }

            
                        <a href="@Url.Action("Index", "Product") ">
                            <img src="@imgSrc" />
                            <!-- Hover Content -->
                            <div class="hover-content">
                                <div class="line"></div>
                                <p>@(item.PrecoUnit.ToString("0.00")) € </p>
                                <h4>@item.Descricao</h4>
                            </div>
                        </a>
                </div>
                }

            </div>
        </div>

    </div>
</div>
