@{
    ViewData["Title"] = "Shop";
}

@model ScallopShellProject.Models.ZingarelhoViewModel


//VIEW EDIT PRODUTO
<style>

    #dropzone {
  border: 1px solid blue;
  width: 300px;
  height: 300px;
}


</style>

    <div class="amado_product_area section-padding-100">
        <div class="row">
            <form class="form-control" action="/action_page.php">
                Descricao:
                <input required name="Descricao" id="Descricao" type="text">
                PrecoUnit:
                <input required name="PrecoUnit" id="PrecoUnit" type="number">
                Qtd:
                <input required name="Qtd" id="Qtd" type="number">
                <br>
                <input type="radio" name="active" value="1"> Active<br>
                <input type="radio" name="active" value="0"> Inactive
                <h4>Drag file(s) from desktop to blue dropzone.<br>Only image files will be processed.</h4>
                <div id="dropzone"></div>
                <div id="preview"></div>
                <br><br>
                <input id="" type="submit">
            </form>
        </div>




        <div class="row">
            <table width="100%" id="example" class="table-responsive-lg">
                <thead>
                    <tr>

                        <th>Id</th>
                        <th>Descricao</th>
                        <th>PrecoUnit</th>
                        <th>Qtd</th>
                        <th>-</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListAllArticles)
                    {
                        <tr>
                            <td style="text-align:right">@item.Id</td>
                            <td style="text-align:right">@item.Descricao</td>
                            <td style="text-align:right">@item.PrecoUnit.ToString("0.##")</td>
                            <td style="text-align:right">@item.Qtd</td>
                            <td style="text-align:right">
                                <button type="button" onclick="alert('Hello world!')">Click Me!</button>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>



        <script>

            $(document).ready(function () {


                $('#example').DataTable();

            });



        </script>
